.DS_Store
*.log
node_modules
build
*.node
components
coverage
*.orig
.idea
sandbox
test/out-fixtures/*
test/watch-*.txt
templates/node_modules
templates/.sass-cache
templates/dist/*
templates/.tmp
templates/public/*
templates/.offline