body {
    border: 1;
}
.hello {
    &: before {
        @include icons-sprite("icon-search");
    }
}
.hello-2x {
    &: before {
        @include icons-sprite-retina("icon-search");
    }
}
.banner {
    width: 45px;
    height: 100px;
    background-image: image-url("banner.png");
}
