<% var len = mybars.length; %>
<% if(len != 0){ %>
  <div id="myBarListWrap">
    <div class="ui-caption">我关注的部落(<%= len %>)</div>

    <ul id="myBarList" class="ui-list ui-spliter-ios">
      <% for(var i=0;i<len;i++){ %>
        <% var bar = mybars[i]; %>
        <li class="ui-item" data-bid="<%= bar.bid %>" data-name="<%= bar.name %>">
        <a>
          <div class="my-item-left">
            <img src="<%=bar.pic%>" class="groupIcon" />
          </div>
          <div class="my-item-right">
            <p class="ui-no-wrap grouptitle"><%= bar.name %></p>
          </div>
        </a>
        </li>
      <%}%>
    </ul>

  </div>
<% } %>